header{
    display: flex;
    align-items: center;
justify-content: center;
color: rgb(106, 106, 255);
padding: 10px;
flex-direction: column;
gap: 3px;
background-color: rgb(222, 222, 222);
}
nav{
    a{
        margin: 0 10px;
        text-decoration: none;
    }
    .active{
        color: red;
        text-decoration: underline;
    }
}
