<div class="face-snap-card" [ngClass]="{snapped: snaped}">
    <!-- <h2>{{mylargeNumber | number}}</h2>
    <h2>{{myPercentage | percent: '1.3-3'}}</h2> -->
    <!-- <h2>{{myPrice | currency: 'EUR'}}</h2> -->
    <h1>{{ faceSnap.title | titlecase }}</h1>
    <a routerLink="/facesnaps">Back</a>
    @if(faceSnap.location){
        <p>La localisation {{ faceSnap.location}}</p>
    }@else {
        <p>localisation non specifiee</p>
    }
<img [src]="faceSnap.imgUrl" [alt]="faceSnap.title">
<p>{{faceSnap.description}}</p>
<p> cree le : {{faceSnap.createdAt | date: 'dd/MMMM/YYYY, HH:mm'}}</p>
<p>
    <button (click)="onSnap()"> {{onSnapTextButton}}</button>
  <span [ngStyle]="{color: 'rgb(0,'+ faceSnap.snaps +', 0)'}">{{ faceSnap.snaps}}</span>
</p>
</div>
