<div class="form-card">
    <h2>NOUVEAUX FACESNAP</h2>
    <form [formGroup]="snapForms">
        <div class="form-group">
            <label for="title">Donnez un titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="title">Description</label>
            <textarea type="text" id="title" formControlName="description" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="imgUrl">Image url</label>
            <input type="text" id="imgUrl" formControlName="imgUrl">
        </div>
        <div class="form-group">
            <label for="location">Lieu</label>
            <input type="text" id="location" formControlName="location">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="snapForms.invalid">Enregistrer</button>
        </div>
    </form>
</div>



<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mis en ligne {{ faceSnap.createdAt| date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>
